body {
    font-family: "Open Sans", sans-serif;
    background: #374954;
    color: white;
    text-align: center;

    min-height: 100vh;
      display: grid;
      place-items: center;
      background: #100721;
      font-family: "Ubuntu Mono", monospace;
      font-weight: 400;
}

#title{
  width: 50px;
  height: 50px;
  border-radius: 20%;

}

#cart{
  width: 35px;
  height: 50px;
}
  
  .icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;

  }
  .icon::before, .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;
  }
  .icon i {
    position: relative;
    color: rgb(4, 44, 246);
    font-size: 30px;
    margin-top: 15px;
    transition: all 0.25s ease;
  }

  .icon-fill:hover::before {
    box-shadow: inset 0 0 0 60px rgb(115, 181, 134);
  }
  
  .icon-rotate:hover {
    transition: transform 0.001s ease 0.3s;
    background: #7e3661;
  }

  .openModal_Button{
    cursor: pointer;
    position:relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  /* A modál tartalma */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  .modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal-content button:hover {
    background-color: #0056b3;
  }

/* -------------------------------------Nav---------------------------------------------------*/
* {
  box-sizing: border-box;
}

#main {
  position: relative;
  list-style: none;
  background: #6bbe92;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: auto;
}
#main li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 120px;
}

li {
  margin: 0;
}

.drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 48px;
}
.drop div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.drop li {
  display: block;
  padding: 0;
  width: 100%;
  background: #3e8760 !important;
}

#marker {
  height: 6px;
  background: #3e8760 !important;
  position: absolute;
  bottom: 0;
  width: 120px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

#main li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

#main li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(240px, 0);
  -moz-transform: translate(240px, 0);
  -ms-transform: translate(240px, 0);
  transform: translate(240px, 0);
}

#main li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px, 0);
  -moz-transform: translate(360px, 0);
  -ms-transform: translate(360px, 0);
  transform: translate(360px, 0);
}

/*a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white  ;
  background-color: transparent;
  text-decoration: underline;
}*/

a{
  color: white;
}

/*---------Nav vége------------*/

/*---------------Választókártya-------------*/
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url(../img/american_menu.jpg)
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../img/hambugers_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../img/hotdog_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../img/italian_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url(../img/pizzas_menu.jpg)
        no-repeat 50% / cover;
    }
    &:nth-of-type(6) {
      background: url("../img/chinese_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(7) {
      background: url("../img/sushi_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(8) {
      background: url("../img/vegetarian_menu.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(9) {
      background: url("../img/salads_menu.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
/*--------------Választókártya vége------------------*/