#title{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  }

  .submit-btn {
    width: 100%;
    background: #860092;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }