.navbar, .footer {
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
  
  #title{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}